/*
#8579DB;
#FEACEC;
#030A8C;
#0E011F;
#C71970;
#040014;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

.center {
    width: 1200px;

    margin: 0 auto;

}

.logo {
    filter: invert(100%);
}

.header {
    width: 100%;
    height: 60px;
    background-color: #0E011F;
}

.header img {
    margin: 5px;
    margin-left: 30px;
    width: 50px;
}

.container-banner {
    width: 100%;
    height: 557px;
    background-image: url(../img/backgroundcp.jpg);
    background-size: cover;
    background-position: center;

}

.container-banner>.center {
    height: 100%;
    text-align: right;
}

.form {
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    background-color: #040014;
    float: right;
    position: relative;
    top: -15px;
  
    border: 4px solid #8579DB;


}

.form h2{
font-weight: normal;
color: aliceblue;
font-size: 30px;
text-align: center;
}
.input-container{
    margin-top: 20px;
  text-align: left;
}
.input-container span,.form p {
    display: inline-block;
    width: 100%;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0 ;
}
.input-container input[type = text]{
    margin-top: 8px;
    width: 344px;
    height: 35px;
    border: 1px solid #6b083a;
}
.form .input-submit-container{
    text-align: center;

}
form input[type = submit]{
    color: aliceblue;
    margin-top: 8px;
    width: 180px;
    height: 46px;
    background-color: #363A6d;
    border: 0px solid #ccc;
    display: inline-block;
    cursor: pointer;
}
.form form .warning{
    font-size: 12px;
}
.form [type=submit]:hover{
background-color: #ccc;
border:  2px solid #363A6d;
color: #363A6d;
transition: 0.4s;
}